
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <title>Feltöltés</title>
  </head>
  <body>
    <section id ="firstImpressionStorage">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light">
          <a class="navbar-brand" href="#">Storage</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-item nav-link active" href="/foods">Ételek</a>
              <a class="nav-item nav-link" href="/clothes">Ruhák</a>
              <a class="nav-item nav-link" href="/feltoltes">Termék feltöltés</a>
            </div>
          </div>
        </nav>
      </div>
    </section>
    <div class="container">
      <form action="/foodUpload" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label for="vonalkod">Termék vonalkódja</label>
          <input type="text" class="form-control" id="vonalkod" placeholder="Termék vonalkódja" name="vonalkod">
        </div>
        <div class="form-group">
          <label for="fajta">Termék fajtája: </label>
          <input type="text" class="form-control" id="fajta" placeholder="(Pékáru, zöldség, gyümölcs..)" name="fajta">
        </div>
        <div class="form-group">
            <label for="leiras">Termék leírása: </label>
            <input type="text" class="form-control" id="leiras" placeholder="Termék leírása" name="leiras">
          </div>
          <div class="form-group">
            <label for="ar">Termék ára: </label>
            <input type="text" class="form-control" id="ar" placeholder="Termék ára" name="ar">
          </div>
          <div class="form-group">
            <label for="mennyisegKg">Mennyiség </label>
            <input type="number" class="form-control" id="mennyisegKg" placeholder="Mennyiség KG-ban!" name="mennyisegKg">
          </div>
          <div class="form-group">
            <label for="leiras">Termék képe: </label>
            <input type="file" class="form-control" id="kep" placeholder="Termék képe" name="kep">
          </div>
        <button type="submit" class="btn btn-primary">Feltöltés</button>
      </form>
    </div>
</body>
</html>
